* {
  padding: 0;
  margin: 0;
  font-family: 'JetBrains Mono', mono;
  font-size: 16px;
}

:root {
  --background: #1f2430;
  --text: #cbccc6;
  --primary: #bae664;
}

body {
  background: var(--background);
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 100rem;
}
